.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.links {
  display: flex;
  list-style: none;
  gap: 20px;
}

.link {
  text-decoration: none;
}

.centralize {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}
